body {
	margin: 0px auto;
	font-family: 'Lato', serif;
	color: #969798;
}

.header {
	height: 100vh;
}

.header-left {
	width: 30%;
	height: 100%;
	display: inline-block;
	float: left;
	position: relative;
}

.header-right {
	width: 70%;
	height: 100%;
	background-color: purple;
	display: inline-block;
	float: right;
	position: relative;
}

.header-right-top {
	height: 70%;
	width: 100%;
	position: relative;
}

.header-right-bottom {
	height: 30%;
	width: 90%;
	float: right;
	border-top: solid;
}

.header-right-bottom div {
	padding-left: 32px;
	padding-right: 32px;
	display: inline-block;
}

.content {
	height: 100px;
}

.content-left {
	width: 30%;
	height: 100%;
	display: inline-block;
	float: left;
	position: relative;
}

.content-left .title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
}

.content-right {
	width: 70%;
	height: 100%;
	background-color: purple;
	display: inline-block;
	float: right;
	position: relative;
}

.content-right .description {
	position: absolute;
	top: 50%;
	left: 5%;
	right: 5%;
	transform: translate(0, -100%);
}

.footer {
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.brown {
	background-color: #2d2e2e;
}

.grey {
	background-color: #2b2c2c;
}

.dark-grey {
	background-color: #161717;
}

.avatar {
	border-radius: 50%;
	width: 272px;
	height: 272px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.description {
	text-align: justify;
}

h1 {
	font-size: 48px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-100%, -50%);
}

h1 span {
	color: #e0a80d;
}

h3 {
	position: absolute;
	top: 60%;
	left: 10%;
}

a {
	text-decoration: none;
	color: #969798;
}