body {
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	color: #969798;
}

img {
	border-radius: 50%;
	width: 272px;
	height: 272px;
}

.avatar {
	padding: 160px 88px;
}

.intro {
	padding-left: 112px;
	padding-top: 96px;
	text-align: justify;
	box-sizing: border-box;
}

.contact h1 {
	/*padding-top: 32px;*/
	margin-top: 25%;
	margin-bottom: 0;
}

.contact h3 {
	margin-top: 0;
}

.contact h1, .contact h3 {
	margin-left: 10%;
}

.right .description {
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 96px;
	text-align: justify;
}

h1 {
	font-size: 48px;
}

h1 span {
	color: #e0a80d;
	/*font-size: 48px;*/
}

header {
	height: 100vh;
}

section {
	height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 2fr;
}

.left {
	grid-column: 1 / span 1;
	grid-row: 1 / 2;
	height: 100vh;
}

header .right, section .left {
	background: #2d2e2e;
}

header .left, section .right {
	background: #2b2c2c;
}

.detail {
	border-top: solid;
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	margin-top: 20%;
	margin-left: 5%;
	/*grid-gap: 1px;*/
}

.detail .location {
	/*grid-column: 1;*/

}

/*div {
	border: solid;
}*/